elm-card {
    container-type: inline-size;
    container-name: card;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 1em;
    background-color: #f7f7f7;
    border-radius: 4px;

    & > a {
        all: unset;
        cursor: pointer;
        display: contents;
    }

    h1,
    h5,
    form {
        font-size: 0.8em;
        font-weight: 400;
        margin: 0;
        text-wrap: balance;
    }

    figure {
        flex-grow: 1;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;

        label {
            position: absolute;
            display: flex;
            @media (hover: hover) {
                elm-card:not(:hover) & {
                    display: none;
                }
            }
            right: 0;
            top: 0;
            color: #333333;
            background-color: #dbdbdb;
            height: 1.4em;
            padding: 0.15em 0.35em;
            gap: 0.35em;
            text-transform: uppercase;
            font-size: 0.8em;

            align-items: center;

            input {
                appearance: none;
                display: block;
                width: 0.8em;
                height: 0.8em;
                content: "";
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' ><path stroke='%23333' d='M4 0 4 8 M0 4 8 4'/></svg>");
                background-size: contain;
                transition: rotate 300ms ease;
                &:checked {
                    rotate: 45deg;
                }
            }
        }
    }

    form {
        display: flex;
        gap: 0.25em;
        input {
            appearance: none;
            display: inline-block;
            border-radius: 50%;
            background-color: white;
            box-sizing: border-box;
            width: 1.4em;
            height: 1.4em;
            margin: 0;
        }
        input:checked {
            outline: white solid 2px;
            outline-offset: -3px;
        }
        input[value="bronze"] {
            background-color: #b45628;
        }
        input[value="nightsky"] {
            background-color: #212e41;
        }
    }
}
